body{
    background:#90AFC5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
h1{
    color:black;
    text-align:center;
    font-family: Bodoni;
    -webkit-text-stroke: 5px orange;
    font-size: 50px;
}
h2{
    -webkit-text-stroke: 100px black;
    color:#FFFFFF;
}
.assignment{
    display: flex;
    padding: 10px;
    margin:10px;
    background: #336B87;
}
.assignment img
{
    width: 350px;
    height: 350px;
    margin-right: 20px;
}
a
{
    text-decoration: none;
}