body{
    background:rgb(170, 215, 229);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
h1{
    color:black;
    text-align:center;
    font-family: Bodoni;
    -webkit-text-stroke: .15px orange;
    font-size: 50px;
}
h2{
    -webkit-text-stroke: .75px black;
    color:lightseagreen;
}
.assignment{
    display: flex;
    padding: 10px;
}
.assignment img:not(.long){
    width: 350px;
    height: 350px;
    padding: 10px;

}
img[src=images/affinitydiagram.png]{
    display:block;
    width: 1050px;
    height:350px;
}